.cursos
    .titulo-cursos
        .linha
        .texto
            h2 Temos o curso certo para <b>você</b>
            
        .linha

    each course in courses
        .card(style=`background-image: url(${course.image});`)
            //- img(src=`${course.image}`)
            a(href=`/curso/${course.link}`)
                h3 #{course.title}
                p #{course.description}